In [1]:
import pandas as pd

In [2]:
pd.read_csv('CSVs/stations.csv', encoding='latin1')[:10]

   Unnamed: 0     id   date_from    date_to          station
0           0  p_0_0        1799          _          Sybille
1           1  p_0_0   23_5_1803       1805        Chiffonne
2           2  p_0_0   27_8_1805   6_4_1810       Resistance
3           3  p_0_0        1811       1813       Invincible
4           4  p_0_0   16_5_1814  29_6_1814      Impregnable
5           5  p_0_0  15_12_1814   7_2_1816  Royal Sovereign
6           6  p_0_0   20_7_1821  25_5_1825  Royal Sovereign
7           7  p_0_1        1810          _       Volontaire
8           8  p_0_1        18??          _         Cambrian
9           9  p_0_1        181?          _          Bulwark

In [3]:
pd.read_csv('CSVs/daten_ships_davis.csv')[:10]

,Link,Renew,Unnamed: 2,Shipname,Launch,Unnamed: 5,H.,P.,Type,B.M.,Disp.,Guns,Fate,S.B.,Note,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,ShowShip.php?id+AD0-10,NaN,NaN,Aboukir,1848,NaN,W,W,2nd rate,2 decker,3080.0,NaN,90,1877.0,1,1858 screw,NaN,NaN
1,NaN,r,NaN,Abundance,1855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alfred 1855,NaN,NaN,NaN
2,NaN,NaN,NaN,Abyssinia,1870,NaN,I,S,Breastwork monitor,NaN,2900.0,4.0,1903,NaN,NaN,NaN,NaN,NaN
3,ShowShip.php?id+AD0-1001,NaN,NaN,Acheron,1835,NaN,W,P,Sloop,720,1006.0,NaN,1855,NaN,NaN,NaN,NaN,NaN
4,ShowShip.php?id+AD0-1002,r,NaN,Acheron,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northumberland 1866,NaN,NaN,NaN
5,ShowShip.php?id+AD0-1003,NaN,NaN,Achille,1798,NaN,W,W,3rd rate,1981,NaN,74.0,1865,NaN,1823 rebuilt,NaN,NaN,NaN
6,ShowShip.php?id+AD0-1004,NaN,NaN,Achilles,1863,NaN,I,S,Broadside ironclad frigate,6121,9820.0,20.0,1923,2.0,First iron ship bult in Royal Naval dockyard. ...,base ship. 1904 +AD0- Egmont. 1918 +AD0- Egre...,NaN,NaN
7,ShowShip.php?id+AD0-1005,NaN,NaN,Acorn,1838,NaN,W,W,Brig,485,NaN,12.0,1869,NaN,1861 c.h.,NaN,NaN,NaN
8,ShowShip.php?id+AD0-1006,NaN,NaN,Actaeon,1831,NaN,W,W,6th rate,620,NaN,16.0,1889,NaN,1856 survey ship. 1866 hospital ship. 1870 hulk,NaN,NaN,NaN
9,ShowShip.php?id+AD0-1007,r,NaN,Actaeon,1886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vernon 1832,NaN,NaN,NaN

In [4]:
stationTable = pd.read_csv('CSVs/stations.csv', encoding='latin1')
shipTable = pd.read_csv('CSVs/daten_ships_davis.csv')

In [5]:
shipTable.loc[shipTable['Shipname'] == 'Royal Sovereign']

,Link,Renew,Unnamed: 2,Shipname,Launch,Unnamed: 5,H.,P.,Type,B.M.,Disp.,Guns,Fate,S.B.,Note,Unnamed: 15,Unnamed: 16,Unnamed: 17
1340,ShowShip.php?id+AD0-2497,NaN,NaN,Royal Sovereign,1786,NaN,W,W,1st rate,2175,NaN,100.0,1841,NaN,1825 +AD0- Captain h.s.,NaN,NaN,NaN
1341,ShowShip.php?id+AD0-2015,NaN,NaN,Royal Sovereign,1804,NaN,W,W,Yacht,278,NaN,NaN,1849,NaN,NaN,NaN,NaN,NaN
1342,ShowShip.php?id+AD0-6,NaN,NaN,Royal Sovereign,1857,NaN,W,S,1st rate,3765,6071.0,131.0,1885,409.0,1864 ironclad turret ship,5080 disp,5 guns,NaN
1343,NaN,NaN,NaN,Royal Sovereign,1891,NaN,S,S,1st class battleship,NaN,14150.0,42.0,1913,NaN,NaN,NaN,NaN,NaN

In [6]:
stationsSeries = stationTable['station']

In [7]:
stationTableIds = stationTable.copy()

In [8]:
for index, row in stationTable.iterrows():
    ships_found = shipTable.loc[shipTable['Shipname'] == row['station']]
    if (len(ships_found) == 0):
        pass
    else:
        #stationTableIds.loc[index,'station'] = ','.join([str(item) for item in list(ships_found.index(dtype='str'))])
        stationTableIds.loc[index,'station'] = ','.join(list(ships_found.index.astype('str', False)))

for idx in range(len(stationTable)):
    ships_found = shipTable.loc[shipTable['Shipname'] == stationTable['station'][idx]]
    if (len(ships_found) == 0):
        pass
    else:
        #i = str(ships_found.index)
        #i = i[i.find("[")+1:i.rfind("]")]
        stationTableIds.loc[idx,'station'] = ','.join([str(item) for item in list(ships_found.index)])
        #stationTableIds.loc[idx, 'station'] = i

In [9]:
stationTableIds

,Unnamed: 0,id,date_from,date_to,station
0,0,p_0_0,1799,_,"1519,1520"
1,1,p_0_0,23_5_1803,1805,313
2,2,p_0_0,27_8_1805,6_4_1810,"1289,1290"
3,3,p_0_0,1811,1813,"820,821"
4,4,p_0_0,16_5_1814,29_6_1814,"787,788"
5,5,p_0_0,15_12_1814,7_2_1816,"1340,1341,1342,1343"
6,6,p_0_0,20_7_1821,25_5_1825,"1340,1341,1342,1343"
7,7,p_0_1,1810,_,Volontaire
8,8,p_0_1,18??,_,256
9,9,p_0_1,181?,_,"237,238"
10,10,p_0_1,181?,_,Christian VII
11,11,p_0_1,181?,_,677
12,12,p_0_1,31_5_1815,_,"36,37"
13,13,p_0_1,17_4_1819,_,753
14,14,p_0_1,24_9_1822,_,"1708,1709,1710"
15,15,p_0_1,12_1_1824,_,677
16,16,p_0_1,3_11_1824,_,"1131,1132,1133"
17,17,p_0_1,1_3_1826,_,1251
18,18,p_0_1,17_9_1826,_,"706,707,708"
19,19,p_0_1,17_9_1828,_,314
20,20,p_0_1,4_5_1829,_,120
21,21,p_0_1,6_1_1830,_,Plumperon the coast of Africa\r\n
22,22,p_0_1,23_7_1831,_,"56,57"
23,23,p_0_1,19_1_1839,9_1843,7
24,24,p_0_1,4_1_1850,_,655
25,25,p_0_2,13_5_1856,_,105
26,26,p_0_2,23_11_1857,_,256
27,27,p_0_2,23_11_1857,25_10_1861,256
28,28,p_0_2,25_2_1862,_,"428,429"
29,29,p_0_2,12_10_1871,26_2_1872,Daphne
...,...,...,...,...,...
5693,5693,p_7_121,24_1_1848,_,781
5694,5694,p_7_121,30_8_1850,_,"217,218"
5695,5695,p_7_121,5_12_1851,27_3_1852,"1047,1048,1049"
5696,5696,p_7_122,7_9_1831,_,"109,110"
5697,5697,p_7_122,20_12_1834,_,"1260,1261"
5698,5698,p_7_122,16_9_1840,11_8_1841,1356
5699,5699,p_7_122,12_8_1841,14_9_1840,Styx
5700,5700,p_7_122,15_9_1841,5_1842,Devastation
5701,5701,p_7_122,(5_1842),14_2_1843,1236
5702,5702,p_7_122,14_2_1843,_,"447,448"
5703,5703,p_7_122,15_4_1843,_,35
5704,5704,p_7_122,24_10_1853,20_12_1855,105
5705,5705,p_7_122,20_12_1855,12_7_1856,229
5706,5706,p_7_122,12_7_1856,22_7_1859,"356,357"
5707,5707,p_7_123,9_1833,2_1_1834,77
5708,5708,p_7_124,20_11_1828,1831,"64,65"
5709,5709,p_7_124,12_6_1844,_,174
5710,5710,p_7_124,23_10_1844,_,St Vincent
5711,5711,p_7_124,11_1848,1_1850,1625
5712,5712,p_7_125,1_2_1860,4_10_1861,"521,522,523,524,525"
5713,5713,p_7_125,4_10_1861,_,"1579,1580,1581"
5714,5714,p_7_125,8_4_1863,27_8_1863,"1586,1587"
5715,5715,p_7_125,27_8_1863,_,883
5716,5716,p_7_125,3_8_1864,3_8_1864,"130,131,132"
5717,5717,p_7_126,12_5_1842,1846,"44,45"
5718,5718,p_7_128,7_8_1843,_,Hydra
5719,5719,p_7_129,27_3_1852,_,"555,556"
5720,5720,p_7_129,30_9_1852,_,31
5721,5721,p_7_129,1_9_1856,_,813
5722,5722,p_7_129,16_9_1856,_,"1406,1407,1408"

In [10]:
list(shipTable.loc[shipTable['Shipname'] == stationTable['station'][2]].index)

[1289, 1290]

In [11]:
stationTableDropped = stationTableIds.copy()

In [12]:
idx_list = []
for idx in range(len(stationTableIds)):
    try:
        #print(int(stationTableIds['station'][idx]))
        int(stationTableIds['station'][idx])
    except:
        #print("pass")
        idx_list.append(idx)
        pass

In [13]:
stationTableReallyDropped = stationTableDropped.drop(idx_list)

In [14]:
stationTableReallyDropped

      Unnamed: 0       id   date_from     date_to station
1              1    p_0_0   23_5_1803        1805     313
8              8    p_0_1        18??           _     256
11            11    p_0_1        181?           _     677
13            13    p_0_1   17_4_1819           _     753
15            15    p_0_1   12_1_1824           _     677
17            17    p_0_1    1_3_1826           _    1251
19            19    p_0_1   17_9_1828           _     314
20            20    p_0_1    4_5_1829           _     120
23            23    p_0_1   19_1_1839      9_1843       7
24            24    p_0_1    4_1_1850           _     655
25            25    p_0_2   13_5_1856           _     105
26            26    p_0_2  23_11_1857           _     256
27            27    p_0_2  23_11_1857  25_10_1861     256
35            35    p_0_4  18_10_1843           _    1182
36            36    p_0_4  26_11_1846        1849    1476
37            37    p_0_4    4_1_1853           _     883
38            38    p_0_4   25_2_1854   23_8_1854     490
40            40    p_0_5   20_8_1834           _     267
45            45    p_0_5   25_6_1849           _    1512
46            46    p_0_5   26_8_1857           _    1621
48            48    p_0_6  18_12_1869           _     917
55            55    p_0_6      (1891)        1891    1288
56            56    p_0_6        1893           _     720
58            58    p_0_7    6_4_1846    5_5_1847      86
65            65    p_0_8   9_12_1822           _    1212
67            67    p_0_9   11_1_1854           _     634
68            68    p_0_9  26_10_1855           _     697
73            73    p_0_9   21_5_1874   26_4_1875     730
76            76   p_0_10  29_11_1854   27_7_1855    1206
81            81   p_0_11      1_1861      4_1862    1473
...          ...      ...         ...         ...     ...
5614        5614   p_7_96    6_4_1857    2_8_1858     283
5616        5616   p_7_98   23_7_1821           _     883
5621        5621   p_7_98   31_3_1826           _     980
5624        5624   p_7_98   9_12_1833        1837     166
5625        5625   p_7_99   23_8_1841        1845     256
5629        5629  p_7_100    1_1_1843           _     580
5633        5633  p_7_102   22_9_1837           _    1493
5642        5642  p_7_105    2_9_1834      6_1836    1206
5643        5643  p_7_105   13_1_1837           _    1316
5646        5646  p_7_107    4_9_1848           _    1445
5647        5647  p_7_107    7_6_1854    3_4_1855    1490
5648        5648  p_7_108    4_8_1853           _     105
5651        5651  p_7_108    9_5_1864           _     115
5654        5654  p_7_109   12_2_1847           _     782
5659        5659  p_7_110   22_1_1829   22_7_1830     857
5660        5660  p_7_110   22_7_1830           _     857
5675        5675  p_7_114  19_12_1855    3_6_1856     184
5688        5688  p_7_120   28_4_1827  30_10_1828     262
5693        5693  p_7_121   24_1_1848           _     781
5698        5698  p_7_122   16_9_1840   11_8_1841    1356
5701        5701  p_7_122    (5_1842)   14_2_1843    1236
5703        5703  p_7_122   15_4_1843           _      35
5704        5704  p_7_122  24_10_1853  20_12_1855     105
5705        5705  p_7_122  20_12_1855   12_7_1856     229
5707        5707  p_7_123      9_1833    2_1_1834      77
5709        5709  p_7_124   12_6_1844           _     174
5711        5711  p_7_124     11_1848      1_1850    1625
5715        5715  p_7_125   27_8_1863           _     883
5720        5720  p_7_129   30_9_1852           _      31
5721        5721  p_7_129    1_9_1856           _     813

[1663 rows x 5 columns]

In [15]:
#stationTableReallyDropped.to_csv("obviously_correct_pdavis_data.csv")

In [16]:
#stationTableIds.to_csv('fuckingALLDataFromDavisInYourFace.csv', sep='\t', encoding='utf-8')

In [17]:
shipTable.loc[shipTable.index == int(stationTableReallyDropped.ix[:1, 'station'][1])]

,Link,Renew,Unnamed: 2,Shipname,Launch,Unnamed: 5,H.,P.,Type,B.M.,Disp.,Guns,Fate,S.B.,Note,Unnamed: 15,Unnamed: 16,Unnamed: 17
313,ShowShip.php?id+AD0-2391,NaN,NaN,Chiffonne,1801,NaN,W,W,5th rate,945,NaN,36.0,18??,NaN,1801.08.19 captured from French off Sychelles,NaN,NaN,NaN

### Pers IDs to Names

In [18]:
stations_to_names = stationTableReallyDropped.loc[:,'id':]

In [19]:
len(stations_to_names)

1663

In [20]:
names = pd.read_csv("CSVs/names.csv", encoding='utf-8').drop("Unnamed: 0", axis=1).fillna(0)

In [21]:
names

,id,forename,surname,born,died,link
0,p_0_0,Charles,Adam,6_10_1780,19_9_1853,http://www.pdavis.nl/ShowBiog.php?id=1
1,p_0_1,John,Adams,2_1798,17_12_1866,http://www.pdavis.nl/ShowBiog.php?id=114
2,p_0_2,Richard,Adams,1835,26_2_1872,http://www.pdavis.nl/ShowBiog.php?id=1451
3,p_0_3,Edward Stanley,Adeane,7_12_1836,18_10_1902,http://www.pdavis.nl/ShowBiog.php?id=1519
4,p_0_4,John de Courcy Andrew,Agnew,8_10_1819,26_9_1916,http://www.pdavis.nl/ShowBiog.php?id=1150
5,p_0_5,William Cornwallis,Aldham,21_9_1809,27_2_1878,http://www.pdavis.nl/ShowBiog.php?id=696
6,p_0_6,Pelham,Aldrich,8_12_1844,12_11_1930,http://www.pdavis.nl/ShowBiog.php?id=1472
7,p_0_7,Robert Dawes,Aldrich,1808,2_6_1891,http://www.pdavis.nl/ShowBiog.php?id=1132
8,p_0_8,John Williams,Aldridge,1795,26_3_1875,http://www.pdavis.nl/ShowBiog.php?id=365
9,p_0_9,John Hobhouse Inglis,Alexander,7_1832,22_11_1875,http://www.pdavis.nl/ShowBiog.php?id=1374
10,p_0_10,John Richard,Alexander,1829,19_1_1869,http://www.pdavis.nl/ShowBiog.php?id=1711
11,p_0_11,Prince,Alfred,6_8_1844,30_7_1900,http://www.pdavis.nl/ShowBiog.php?id=1371
12,p_0_12,Bird,Allen,1803,25_10_1841,http://www.pdavis.nl/ShowBiog.php?id=3
13,p_0_13,Henry Murray Edward,Allen,17_7_1809,30_9_1856,http://www.pdavis.nl/ShowBiog.php?id=635
14,p_0_14,William,Allen,11_1792,23_1_1864,http://www.pdavis.nl/ShowBiog.php?id=4
15,p_0_15,Constantine O'Donnel,Allingham,20_4_1835,11_5_1865,http://www.pdavis.nl/ShowBiog.php?id=1565
16,p_0_16,James,Anderson,1797,7_3_1882,http://www.pdavis.nl/ShowBiog.php?id=659
17,p_0_17,Warren Hastings,Anderson,10_12_1825,2_5_1880,http://www.pdavis.nl/ShowBiog.php?id=1199
18,p_0_18,Charles William,Andrew,20_12_1834,24_1_1892,http://www.pdavis.nl/ShowBiog.php?id=1691
19,p_0_19,William Henry,Annesley,4_10_1830,28_3_1875,http://www.pdavis.nl/ShowBiog.php?id=1435
20,p_0_20,Charles Vernon,Anson,4_2_1846,2_7_1905,http://www.pdavis.nl/ShowBiog.php?id=1503
21,p_0_21,Talavera Vernon,Anson,26_11_1809,8_9_1895,http://www.pdavis.nl/ShowBiog.php?id=218
22,p_0_22,Benjamin,Aplin,0,1860,http://www.pdavis.nl/ShowBiog.php?id=387
23,p_0_23,Elphinstone D'Oyly D'Auvergne,Aplin,1821,24_11_1882,http://www.pdavis.nl/ShowBiog.php?id=1087
24,p_0_24,William,Arlett,0,0,http://www.pdavis.nl/ShowBiog.php?id=1658
25,p_0_25,Whaley,Armitage,0,0,http://www.pdavis.nl/ShowBiog.php?id=284
26,p_0_26,William,Armytage,0,0,http://www.pdavis.nl/ShowBiog.php?id=1127
27,p_0_27,Richard,Arthur,1779,1854,http://www.pdavis.nl/ShowBiog.php?id=646
28,p_0_28,William,Arthur,4_7_1830,15_11_1886,http://www.pdavis.nl/ShowBiog.php?id=1200
29,p_0_29,Charles John,Austen,1779,7_10_1852,http://www.pdavis.nl/ShowBiog.php?id=283
...,...,...,...,...,...,...
1551,p_7_101,William,Wood,0,0,http://www.pdavis.nl/ShowBiog.php?id=1088
1552,p_7_102,William Cotterell,Wood,28_1_1810,0,http://www.pdavis.nl/ShowBiog.php?id=812
1553,p_7_103,Charles Sheldon Pearse,Woodruffe,0,0,http://www.pdavis.nl/ShowBiog.php?id=1639
1554,p_7_104,Daniel,Woodruffe,0,18_7_1845,http://www.pdavis.nl/ShowBiog.php?id=534
1555,p_7_105,John Bolton,Woodthorpe,28_8_1796,19_5_1846,http://www.pdavis.nl/ShowBiog.php?id=353
1556,p_7_106,Samuel Otway,Wooldridge,13_2_1814,0,http://www.pdavis.nl/ShowBiog.php?id=587
1557,p_7_107,Frederick,Woollcombe,0,0,http://www.pdavis.nl/ShowBiog.php?id=1045
1558,p_7_108,Henry Bedford,Woollcombe,25_4_1831,14_4_1904,http://www.pdavis.nl/ShowBiog.php?id=1279
1559,p_7_109,William,Worsfold,24_2_1798,0,http://www.pdavis.nl/ShowBiog.php?id=799
1560,p_7_110,Henry John,Worth,1803,0,http://www.pdavis.nl/ShowBiog.php?id=357
1561,p_7_111,Henry Rushworth,Wratislaw,29_8_1832,0,http://www.pdavis.nl/ShowBiog.php?id=1280
1562,p_7_112,Charles Joseph,Wrey,20_12_1828,23_8_1891,http://www.pdavis.nl/ShowBiog.php?id=1467
1563,p_7_113,Samuel,Wriford,0,0,http://www.pdavis.nl/ShowBiog.php?id=584
1564,p_7_114,Arthur Richard,Wright,27_6_1831,19_8_1879,http://www.pdavis.nl/ShowBiog.php?id=106
1565,p_7_115,Charles Mayson Moncrieffe,Wright,0,0,http://www.pdavis.nl/ShowBiog.php?id=394
1566,p_7_116,Henry,Wright,10_2_1812,0,http://www.pdavis.nl/ShowBiog.php?id=307
1567,p_7_117,John Allan,Wright,0,1844,http://www.pdavis.nl/ShowBiog.php?id=248
1568,p_7_118,Edward,Wylde,0,0,http://www.pdavis.nl/ShowBiog.php?id=649
1569,p_7_119,Robert James,Wynniatt,0,0,http://www.pdavis.nl/ShowBiog.php?id=1526
1570,p_7_120,Christopher,Wyvill,1793,29_1_1863,http://www.pdavis.nl/ShowBiog.php?id=416
1571,p_7_121,Richard Augustus,Yates,0,0,http://www.pdavis.nl/ShowBiog.php?id=796
1572,p_7_122,Hastings Reginald,Yelverton,3_1808,24_7_1878,http://www.pdavis.nl/ShowBiog.php?id=550
1573,p_7_123,Bernard,Yeoman,1791,1836,http://www.pdavis.nl/ShowBiog.php?id=1662
1574,p_7_124,Charles Philip,Yorke,2_4_1799,17_9_1873,http://www.pdavis.nl/ShowBiog.php?id=917
1575,p_7_125,Henry Francis Redhead,Yorke,1842,12_1_1914,http://www.pdavis.nl/ShowBiog.php?id=325
1576,p_7_126,Reginald,Yorke,24_11_1803,0,http://www.pdavis.nl/ShowBiog.php?id=392
1577,p_7_127,Charles Henry,Young,0,0,http://www.pdavis.nl/ShowBiog.php?id=919
1578,p_7_128,Horatio Beauman,Young,1806,0,http://www.pdavis.nl/ShowBiog.php?id=569
1579,p_7_129,Thomas James,Young,1827,20_3_1869,http://www.pdavis.nl/ShowBiog.php?id=1675
1580,p_7_130,Charles Bampfield,Yule,0,1_11_1878,http://www.pdavis.nl/ShowBiog.php?id=404

In [22]:
len(stations_to_names)

1663

In [23]:
station_table_names = stations_to_names.copy()

In [24]:
len(station_table_names)

1663

In [25]:
for index, row in stations_to_names.iterrows():
    names_found = names.loc[names['id'] == row['id']]
    namestring = ''.join(names_found['forename'].values + ' ' + names_found['surname'].values)
    
    station_table_names.loc[index,'name'] = namestring

In [26]:
namestring = names.loc[0, 'surname'] + ", " + names.loc[0, 'forename']
namestring

'Adam, Charles'

In [27]:
station_table_names.loc[1, 'name']

'Charles Adam'

In [28]:
station_table_names

           id   date_from     date_to station                            name
1       p_0_0   23_5_1803        1805     313                    Charles Adam
8       p_0_1        18??           _     256                      John Adams
11      p_0_1        181?           _     677                      John Adams
13      p_0_1   17_4_1819           _     753                      John Adams
15      p_0_1   12_1_1824           _     677                      John Adams
17      p_0_1    1_3_1826           _    1251                      John Adams
19      p_0_1   17_9_1828           _     314                      John Adams
20      p_0_1    4_5_1829           _     120                      John Adams
23      p_0_1   19_1_1839      9_1843       7                      John Adams
24      p_0_1    4_1_1850           _     655                      John Adams
25      p_0_2   13_5_1856           _     105                   Richard Adams
26      p_0_2  23_11_1857           _     256                   Richard Adams
27      p_0_2  23_11_1857  25_10_1861     256                   Richard Adams
35      p_0_4  18_10_1843           _    1182     John de Courcy Andrew Agnew
36      p_0_4  26_11_1846        1849    1476     John de Courcy Andrew Agnew
37      p_0_4    4_1_1853           _     883     John de Courcy Andrew Agnew
38      p_0_4   25_2_1854   23_8_1854     490     John de Courcy Andrew Agnew
40      p_0_5   20_8_1834           _     267       William Cornwallis Aldham
45      p_0_5   25_6_1849           _    1512       William Cornwallis Aldham
46      p_0_5   26_8_1857           _    1621       William Cornwallis Aldham
48      p_0_6  18_12_1869           _     917                  Pelham Aldrich
55      p_0_6      (1891)        1891    1288                  Pelham Aldrich
56      p_0_6        1893           _     720                  Pelham Aldrich
58      p_0_7    6_4_1846    5_5_1847      86            Robert Dawes Aldrich
65      p_0_8   9_12_1822           _    1212          John Williams Aldridge
67      p_0_9   11_1_1854           _     634  John Hobhouse Inglis Alexander
68      p_0_9  26_10_1855           _     697  John Hobhouse Inglis Alexander
73      p_0_9   21_5_1874   26_4_1875     730  John Hobhouse Inglis Alexander
76     p_0_10  29_11_1854   27_7_1855    1206          John Richard Alexander
81     p_0_11      1_1861      4_1862    1473                   Prince Alfred
...       ...         ...         ...     ...                             ...
5614   p_7_96    6_4_1857    2_8_1858     283           Charles Octavius Wood
5616   p_7_98   23_7_1821           _     883                  Frederick Wood
5621   p_7_98   31_3_1826           _     980                  Frederick Wood
5624   p_7_98   9_12_1833        1837     166                  Frederick Wood
5625   p_7_99   23_8_1841        1845     256         Granville Hamilton Wood
5629  p_7_100    1_1_1843           _     580                      James Wood
5633  p_7_102   22_9_1837           _    1493          William Cotterell Wood
5642  p_7_105    2_9_1834      6_1836    1206          John Bolton Woodthorpe
5643  p_7_105   13_1_1837           _    1316          John Bolton Woodthorpe
5646  p_7_107    4_9_1848           _    1445            Frederick Woollcombe
5647  p_7_107    7_6_1854    3_4_1855    1490            Frederick Woollcombe
5648  p_7_108    4_8_1853           _     105        Henry Bedford Woollcombe
5651  p_7_108    9_5_1864           _     115        Henry Bedford Woollcombe
5654  p_7_109   12_2_1847           _     782                William Worsfold
5659  p_7_110   22_1_1829   22_7_1830     857                Henry John Worth
5660  p_7_110   22_7_1830           _     857                Henry John Worth
5675  p_7_114  19_12_1855    3_6_1856     184           Arthur Richard Wright
5688  p_7_120   28_4_1827  30_10_1828     262              Christopher Wyvill
5693  p_7_121   24_1_1848           _     781          Richard Augustus Yates
5698  p_7_122   16_9_1840   11_8_1841    1356     Hastings Reginald Yelverton
5701  p_7_122    (5_1842)   14_2_1843    1236     Hastings Reginald Yelverton
5703  p_7_122   15_4_1843           _      35     Hastings Reginald Yelverton
5704  p_7_122  24_10_1853  20_12_1855     105     Hastings Reginald Yelverton
5705  p_7_122  20_12_1855   12_7_1856     229     Hastings Reginald Yelverton
5707  p_7_123      9_1833    2_1_1834      77                  Bernard Yeoman
5709  p_7_124   12_6_1844           _     174            Charles Philip Yorke
5711  p_7_124     11_1848      1_1850    1625            Charles Philip Yorke
5715  p_7_125   27_8_1863           _     883     Henry Francis Redhead Yorke
5720  p_7_129   30_9_1852           _      31              Thomas James Young
5721  p_7_129    1_9_1856           _     813              Thomas James Young

[1663 rows x 5 columns]

In [29]:
#station_table_names.to_csv("CSVs/stations_with_names.csv")